<div class="banner" style="background-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0)), url(https://static.vinepair.com/wp-content/uploads/2016/11/cocktailsubs-internal-header.jpg);">
  <div class="container">
    <h2>Care to join the cocktail party?</h2>
    <%= link_to "Create New Recipe", new_cocktail_path(@cocktail), class: "btn btn-primary mr-4" %>
  </div>
</div>
<div class="container">
  <h3>Explore User Favorites</h3>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-product my-3 ">
        <%= cl_image_tag cocktail.photo.key,
        width: 400, height: 300, crop: :fill %>
        <div class="card-product-infos">
          <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>