<div class="container">
  <% @cocktails.each do |cocktail| %>
    <div class="card-product my-3">
      <%= cl_image_tag cocktail.photo.key,
      width: 400, height: 300, crop: :fill %>
      <div class="card-product-infos">
        <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
      </div>
    </div>
  <% end %>
</div>
