<div class="banner" style="background-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0)), url(https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <div class="container">
    <h2>Care to join the cocktail party?</h2>
    <%= link_to "Create Something New!", new_cocktail_path(@cocktail), class: "btn btn-primary" %>
  </div>
</div>
  <h3>Explore User Favorites</h3>

  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-product my-3 ">
        <%= cl_image_tag cocktail.photo.key,
        width: 400, height: 300, crop: :fill %>
        <div class="card-product-infos">
          <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
        </div>
      </div>
    <% end %>
  </div>
