.banner {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 150px 0;
  text-align: center;

  h2 {
    font-size: 32px;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      transition: opacity 0.1s;

  }

  p {
    font-size: 24px;
    font-weight: lighter;
    color: white;
    opacity: .8;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    text-align: center;
    margin-top: 15px;
      transition: opacity 0.1s;
  }

  .btn-primary {
    margin-top: 40px;
  }
}

