.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;

  h2 {
    font-family: 'Raleway';
    font-size: 32px;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

  }

  p {
    font-size: 24px;
    color: white;
    opacity: .8;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    text-align: center;
    margin-top: 15px;
  }

  .btn-primary {
    margin-top: 40px;
  }
}
