.navbar-lewagon {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}

h1 {
  font-family: Knewave;
  text-align: center;
}
